/* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
  } */
  
  .login nav button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
  }
  
  .login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
  }
  
  .login .loginContainer {
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 100%;
    max-width: 520px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #242447;
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  }
  
  .login .loginContainer label {
    color: white;
    margin: 14px 0;
    display: block;
    font-size: 22px;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: 1px;
    font-family: Poppins, sans-serif;
  }
  
  .login .loginContainer .btnContainer button{
    width: 25%;
    border-radius: 20px;
    padding: 12px 12px;
    background-color: #2CB67D;
    font-family: Poppins, sans-serif;
    color: white;
    margin-top: 20px;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: #fff;
  }
  
  .login .loginContainer .btnContainer p span {
    color: #2CB67D;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: red;
  }
  
  .login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;
  }
  
  .hero {
    width: 100%;
  }
  
  .hero nav {
    background: #603bbb;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero nav h2 {
    color: #fff;
  }
  
  .hero nav button {
    width: 86px;
    padding: 8px 0;
    background: #3a2b58;
  }

  .login{
    background-color: #16161A;
    min-height: 100vh;
  }