@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.card-container{
    width: 831px;
    height: 249px;
    background: #242447;
    /* box-shadow: 4px 4px 10px #5A5A77; */
    border-radius: 36px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    box-shadow: 0 6px 10px #5A5A77, 0 0 6px #5A5A77;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card-container:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px #393950, 0 4px 8px #393950;
    text-decoration: none !important;
}

.card-img{
    width: 187px;
    height: 187px;
    border-radius: 50%;
    margin-left: 20px;
}

.card-content{
    padding-left: 30px;
}

.card-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    color: white;
}

.card-title:hover{
    text-decoration: none !important;
}

.card-desc{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #94A1B2;
    text-decoration: none;
}
