.navLogo{
    width: 150px;
    margin-left: 50px;
}

.navHeader__style
{
    background-color: #16161A;
}
.navHeader__item{
    color: #FFFFFE !important;
    margin-left: 50px;
    font-size: 22px;

}

.navHeader__search{
    color: #2CB67D;
    /* border: 2px solid #2CB67D; */
}

.navHeader__user{
    color: #FFFFFE;
    border: 2px solid #FFFFFE;
    margin-right: 45px;
}

.navHeader__icon {
    border-radius: 20px;
    padding:5px;
    width: 35px;
    height: 35px;
}
.navHeader__input{
    background-color: #16161A;
    border: none;
    height: 35px;
    animation: slide 0.5s ease-in;
    margin-left: 20px;
    outline: none;
    color: #2CB67D ;
   
}
.navHeader__input::placeholder{
    color: #2CB67D;
    opacity: 0.6;
}
.navHeader__searchBorder{
    border: 2px solid #2CB67D;
    border-radius: 50px;
    margin-right: 20px;
}
@keyframes slide{
    0%{
        width: 0px;
    }
    100%{
        width:250px;
    }
}
.disable-click{
    pointer-events: none;
}