:root{
  --text-primary: #FFFFFE;
  --text-secondary: #94A1B2;
  --highlight-primary: #2CB67D;
  --tag-color-p: #E07F38;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #111115;
}

body::-webkit-scrollbar-thumb {
  background: #2CB67D;
  filter: opacity(0.6);
}

.componentContainer{
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #16161A;
}
.custom-container{
  width: 80%;
  margin: auto;
}


.loader_true{
  height: 100vh;
  overflow-y: hidden;
}

/* gaming console button */
.create{
  margin-top: 20px;
  margin-left: auto;
  position: fixed;
  bottom: 25px;
  right: 25px;
} 

.create img {
  width: 80px;
  height: 80px;
  cursor: pointer;
 
}

.create:hover{
  transform: scale(1.08);
  transition: transform 0.2s ease-in ;
}

/* Tooltip */
.tooltip{
  font-size:20px !important;
  background-color: #16161a;
  border: 2px solid #6238e0;
  border-radius: 10px;
  padding:5px 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.tooltip-inner{
  background-color: #16161a;
}
.arrow{
  display: none !important;
}
.loaderContainer{
  background-color: #16161a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}